
personal{
        background-color: gold;
        border: 0.25vw red dashed;
        border-radius: 2px;
        display: inline;
        padding: 5px;
}

product{
        background-color: gold;
        border: 0.25vw red dashed;
        border-radius: 2px;
        display: inline;
        padding: 5px;
}


