header {
        color: goldenrod;
        font-family: 'Franklin Gothic Medium';
        font-size: 3vw;
        background-color: lightsteelblue;
        border: 0.5vw grey solid;
}

footer{
        color: slategray;
        font-family: 'Franklin Gothic Medium';
        font-size: 1vw;
        background-color: lightsteelblue;
        border: 0.5vw grey solid;
}

a {
        float: left;
        display: block;
        color: lightsteelblue;
        background-color: inherit;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
}
      
a:hover {
        background-color: goldenrod;
        color: black;
}
      
a.active {
        color: white;
}