header {
        color: hotpink;
        font-family: 'Franklin Gothic Medium';
        font-size: 1.5vw;
        background-color: blue;
        border: 0.25vw red solid;
        text-align: center;
        justify-content: center;
}

footer{
        color: gold;
        font-family: 'Franklin Gothic Medium';
        font-size: 1vw;
        background-color: blue;
        border: 0.25vw red solid;
}

.topnav {
        background-color: gold;
}

.topnav a {
        float: left;
        display: block;
        color: hotpink;
        background-color: inherit;
        text-align: center;
        font-size: 15px;
}
      
.topnav a:hover {
        background-color: goldenrod;
}
      
.topnav a.active {
        color: white;
}