
div.personal, div.product { 
        border-radius: 2px;
        display: inline;
        padding: 10px;
        width: fit-content;
        display: block;
}

fieldset.personal, fieldset.product{
        background-color: gold;
        border: 0.25vw red dashed;
        width: fit-content;
}


.picture{
        float: right;
        display: inline;
}


