
div.personal, div.product { 
        border: 0.25vw red dashed;
        border-radius: 2px;
        display: inline;
        padding: 5px;
}

fieldset.personal, fieldset.product{
        background-color: gold;
}


#image{
        float: right;
}


